.sign-in-container, .sign-up-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sign-in-container h1, .sign-up-container h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.sign-in-container label, .sign-up-container label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}


.sign-in-container input, .sign-up-container input {
  display: block;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
  max-width: 94%;
}

.sign-in-container button, .sign-up-container button {
  margin-top: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 8px;
  background-color: #646cff;
  color: white;
  cursor: pointer;
}

.sign-in-container button:hover, .sign-up-container button:hover {
  background-color: #535bf2;
}

.sign-up-container p {
  font-size: 0.9em;
  margin-top: 1em;
}

.sign-up-container a {
  font-weight: bold;
  text-decoration: underline;
}

.error {
  color: red;
  margin-top: 0.5em;
}



